In [1]:
#Q1
marks = {"Andy":88, "Amy":66, "James":90, "Jules":55, "Arthur":77}

In [2]:
#Q1.1
def my_function(name):
    for key, value in marks.items():
        if name == key:
            return value
           
    print("Name could not be found")

In [3]:
my_function("Drew")

Name could not be found

In [4]:
my_function("James")

90

In [5]:
my_function("Amy")

66

In [8]:
#Q1.2
def avg_function(marks):
    avg = sum(marks.values()) / len(marks)
    return avg

avg_function(marks)

75.2

In [9]:
#Q2
num = 8
def new_function(n):
    while n < num:
        return n, n*n
        break
    print(n,'is greater than', num)
    
new_function(10)

10 is greater than 8

In [10]:
new_function(5)

(5, 25)

In [11]:
#Q3
def adding(num):
    total = 0
    n = 0
    while n < num:
        total = total + n
        n = n + 1
    return total

adding(7)

21

In [13]:
#Q4
def new_adding(num):
    total = 0
    for n in range(0,num):
        total = total + n
        n = n + 1
        print("total at iteration", n,":", total)

new_adding(7)

total at iteration 1 : 0
total at iteration 2 : 1
total at iteration 3 : 3
total at iteration 4 : 6
total at iteration 5 : 10
total at iteration 6 : 15
total at iteration 7 : 21

In [14]:
#Q5
import numpy as np
mylist = []
for number in range(1,100):
    mylist += [number]

def stat_analysis(n):
    print("Sum:", sum(mylist))
    mean = ((sum(mylist))/len(mylist))
    print("Mean:", mean)
    print("Standard Deviation:", np.std(mylist))

print(mylist)
stat_analysis(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Sum: 4950
Mean: 50.0
Standard Deviation: 28.577380332470412

In [15]:
#Q6.1
def minimum(v1, v2, v3, v4):
    min_val = v1
    if v2 < min_val:
        min_val = v2
    if v3 < min_val:
        min_val = v3
    if v4 < min_val:
        min_val = v4
    return min_val

minimum(800, 500, 89, 12)

12

In [16]:
#Q6.2
def final(v1, v2, v3, v4):
    new = minimum(v1, v2, v3, v4)
    Print(new)

final(4, 6, 90, 70)

4