In [1]:
#1
n = 0
while n < 10:
    print(n)
    n = n +1 
    if n == 5:
        break

0
1
2
3
4

In [2]:
#2
n = 0
while n < 5:
    print(n)
    n = n +1
    if n >= 5:
        print(n,"is not less than 5")

0
1
2
3
4
5 is not less than 5

In [10]:
#3
fruitlist = ["strawberry", "orange", "blueberry", "apple", "banana"]
special = "apple"
for fruit in fruitlist:
    if fruit == special:
        print(special, "is really a fruit?")
        break   
    print("I like", fruit)

I like strawberry
I like orange
I like blueberry
apple is really a fruit?

In [4]:
#4
num = 0
total = 0
while num <= 30:
    total += num
    num += 1
print(total)

465

In [12]:
#5
grade = 75
if grade >= 90:
    print("grade = A")
elif grade >= 80:
    print ("grade = B")
elif grade >= 70:
    print ("grade = C")
elif grade >= 60:
    print ("grade = D")
else:
    print ("grade = F")

grade = C

In [14]:
#6
marks = {"Andy": 88, "Amy": 66, "James": 90, "Jules": 55, "Arthur": 77}
#6.1
for name, grade in marks.items():
    print("Student name:",name,"|","Grade:", grade)

Student name: Andy | Grade: 88
Student name: Amy | Grade: 66
Student name: James | Grade: 90
Student name: Jules | Grade: 55
Student name: Arthur | Grade: 77

In [7]:
#6.2
total = sum(marks.values())
mean = total/len(marks.values())
print("Average:", mean)

minimum = min(marks.values())
print("Minimum:", minimum)

maximum = max(marks.values())
print("Maximum", maximum)

Average: 75.2
Minimum: 55
Maximum 90

In [8]:
#6.3
for name in marks:
    if 'J' in name:
        break
    print(name)

Andy
Amy

In [9]:
for name in marks:
    if 'J' in name:
        continue
    print(name)

Andy
Amy
Arthur